# Template for vars/proxmox_credentials.yaml
proxmox_user: "root@pam"
proxmox_password: "your password"
# proxmox_token_id: "root@pam!ansible-p"
# proxmox_token: "22c7222b-422a-222a-2224-b222fa222222"
proxmox_host: "evo.shark-perch.ts.net"
proxmox_port: "443"
proxmox_node: "evo"
#template_vm: "template_vm_name"
#proxmox_pool: "pool_name"
template_vmid: 600

proxmox_snippet_storage: "snippets"
sftp_host: 10.10.100.14
sftp_port: 2022
sftp_user: ansible-service
#sftp_password: lkjlkjlkdhkjhkjh
sftp_key: ansible-xfr.sshkey